
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>条码仓库管理系统</title>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/layui-master/src/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="logo">仓储系统</div>
    <div class="background">
        <form action="">
            <div class="item user">
                <input type="text" id="input-username" name="input-username" value="administrator" placeholder="用户名" />
            </div>
            <div class="item password">
                <input type="password" id="input-password" name="input-password" value="administrator" placeholder="密码" />
            </div>
            <div class="item">
                <input id="login-btn" class="btn btn-primary" type="button" value="登录" />
            </div>
        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/layui-master/src/layui.js"></script>
<script src="~/layui-master/src/lay/all.js"></script>
<script src="~/layui-master/dist/lay/modules/layer.js"></script>
<script>
    $(function () {
        $("#login-btn").click(function () {
            var username = $("[name=input-username]").val();
            var password = $("[name=input-password]").val();
            $.ajax({
                url: "/zwj/LoginYesOrNo",
                type: "post",
                data: { "username": username, "password": password },
                dataType: "json",
                success: function (res) {
                    if (res == 1) {
                        layer.msg('用户账号错误,请重新输入！', { icon: 2 });
                    } else if (res == 2) {
                        layer.msg('用户密码错误,请重新输入！', { icon: 2 });
                    } else if (res == 3) {
                        layer.msg('用户账号密码错误,请重新输入', { icon: 2 });
                    } else {
                        location.href = "/jooWMS/index";
                    }
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>
