
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rkgl</title>
    <style>
        body {
            margin:0px;
            padding:0px;
        }
    </style>
</head>
<body >
    <div style="border:1px solid red;">
        <ul class="breadcrumb">
            <li><i class="icon-home"></i><a href="/Home/Welcome">首页</a><i class="icon-angle-right"></i></li>
            <li><a href="javascript:void(0)">仓库作业</a><i class="icon-angle-right"></i></li>
            <li><a href="javascript:void(0)">入库管理</a></li>
        </ul>
    </div>
</body>
</html>
